$colorCalFg:                 $colorBlack;
$colorCalBg:                 $colorWhite;

$colorCalYear:               $colorBlue;
$colorCalMonths:             $colorBlue;

$colorCalDays:               $colorCalFg;
$colorCalDaysWeekend:        $colorOrange;

$colorCalDaysNames:          $colorBlue;
$colorCalDaysNamesWeekend:   $colorOrange;

.calendar {
	&.theme-light_arch {
		color: $colorCalFg;
		background-color: $colorCalBg;

		.cal {
			&-year {
				color: $colorCalYear;
			}

			&-month {
				ul {
					li {
						color: $colorCalDays;

						&.cal-day-saturday,
						&.cal-day-sunday {
							color: $colorCalDaysWeekend;
						}
					}

					&.cal-weekday-headings {
						li {
							color: $colorCalDaysNames;

							&.cal-heading-saturday,
							&.cal-heading-sunday {
								color: $colorCalDaysNamesWeekend;
							}
						}
					}
				}

				&-title {
					color: $colorCalMonths;
				}
			}
		}
	}
}